<div style="width: 100%; border-bottom: 1px solid #000;">

<h4><%= @game.title %></h4>






<h5 style="margin-bottom: 2px;">Select a Thumbnail:</h5>

<% @thumbnails = Thumbnail.find_all_by_game_id(@game.id) %>
<% if @thumbnails.try(:length) > 0 %>
    <%= hidden_field_tag(:thumbnail_id) %>
    <% for thumbnail in @thumbnails %>
        <%= image_tag thumbnail.s3_path, :width => 64, :height => 56, :class => "publish_thumbnail" %>
    <% end %>
    <br/>
    <!-- No thumbnail -->
    <%= check_box_tag(:no_thumb) %>
    <%= label_tag(:no_thumb, "No Thumbnail (Or the screenshots are all blank)") %>
<% else %>
    <i> There was an error generating thumbnails for this game. We'll show a default, instead.</i>
<% end %>

<hr class="space" />

</div>