<% if false %>

    [ COMMENT ] There are three ways to hit this view:
    
        - Public view, viewing yourself
        - Public view, viewing someone else
        - Private view
    
<% end %>


<h2>
    <%= @user.display_name || "User Profile" %>
    
    <% if current_user == @user %>
        <%= link_to '(Edit)', edit_account_path, {:class=>"title_link"} %>
    <% end %>
</h2>

<div style="padding: 15px; border: 1px solid #ccc;" class="span-12">
    <h3> <span class="highlight">Awards</span> <span class="parenthetical">(<%= @user.reward.count_rewards %>)</span></h3>
    
    <p><strong>Bug cookies</strong> <%= link_to '(?)', "#", {:class=>"title_link"} %>:
        <!-- Beta rewards -->
        <% (1..@user.reward.num_bug_cookies_visible).each do %>
            <%= image_tag '/images/icons/unsorted/medium-cookie-bite.png' %>
        <% end %>
    </p>
    
    <p><strong>Hidden awards</strong> <%= link_to '(?)', "#", {:class=>"title_link"} %>:
        <!-- Mystery rewards -->
        <% (1..@user.reward.count_hidden_rewards).each do %>
            <%= image_tag '/images/icons/unsorted/medium-trophy.png' %>
        <% end %>
    </p>

    <hr />
    
    <h3>
        <span class="highlight">Games</span>
        <span class="parenthetical">(<%= @user.games.count %>)</span>
    </h3>

    <p>
        <% if @user.games.length == 0 %>
            <%= link_to "Upload games!", upload_path %>
        <% else %>
            <ul>
                <% @user.games.each do |game| %>
                    <li><%= link_to game.title, game %></li>
                <% end %>
            </ul>
        <% end %>
    </p>

    <hr />

    <h3> <span class="highlight"> About </span></h3>

    <p>
        <b>Username:</b>
        <%= @user.safe_get :username %>
    </p>

    <p>
        <b>About:</b>
        <% if current_user == @user %>
            <% unless @user.safe_get(:about).blank? %>
                <%= @user.safe_get :about %>
            <% else %>
                <%= link_to "Add content", edit_account_path %>
            <% end %>
        <% else %>
            (empty)
        <% end %>
    </p>

    <hr />

    <h3> <span class="highlight"> Other </span></h3>

    <p>
      <b>Login count:</b>
      <%=h @user.login_count %>
    </p>
 
    <p>
      <b>Last request at:</b>
      <%=h @user.last_request_at %>
    </p>
 
    <p>
      <b>Last login at:</b>
      <%=h @user.last_login_at %>
    </p>
 
    <p>
      <b>Current login at:</b>
      <%=h @user.current_login_at %>
    </p>
 
    <p>
      <b>Last login ip:</b>
      <%=h @user.last_login_ip %>
    </p>
 
    <p>
      <b>Current login ip:</b>
      <%=h @user.current_login_ip %>
    </p>
</div>
