<h2> Home </h2>

<h3> Top Games </h3>

<% @top_games.each do |game| %>
    <% if not game.title.nil? and not game.title.empty? %>
        <%= link_to game.title, game %>
    <% else %>
        <%= link_to game.original_filename, game %>
    <% end %><br/>
<% end %>
<br/>

<h3> New Users </h3>

<% @new_users.each do |user| %>
    <%= user.login %>, <%= user.created_at %><br/>
<% end %>
<br/>

<h3> Recent Ratings </h3>

<% @new_ratings.each do |rating| %>
    <%= rating.rating %><br/>
<% end %>
