<h2> Home </h2>

<div class="span-24" style="margin-bottom: 50px;">
    
    <div class="span-8">
        <h3> <span class="highlight"> Top Games </span></h3>

        <ol>
        <% @top_games.each do |game| %><li>
            <% if not game.title.nil? and not game.title.empty? %>
                <%= link_to game.title, game %>
            <% else %>
                <%= link_to game.original_filename, game %>
            <% end %></li><br/>
        <% end %>
        </ol>
    </div>

    <div class="span-13">
        <% if @top_games.first.try(:thumbnail) %>
            <%= image_tag @top_games.first.thumbnail.s3_path, :width => 512, :height => 448 %>
        <% end %>
    </div>
</div>

<hr />

<div class="span-24">

    <div class="span-12">
        <h3> <span class="highlight"> New Users </span> </h3>
        <% @new_users.each do |user| %>
            <%= link_to user.display_name || "User #{user.id}", user %>, Created <%= time_ago_in_words user.created_at %> ago <br/>
        <% end %>
    </div>

    <div class="span-12 last">
        <h3> <span class="highlight"> Recent Activity </span></h3>

        <% @new_ratings.each do |rating| %>
            <%= rating.rating %><br/>
        <% end %>
    </div>
    
</div>


