<h2>Edit Game</h2>

<div class="span-15" style="padding: 15px; border: 1px solid #ededed; margin: 5px 0;">
    
    <h3><span class="highlight"> General </span></h3>
    
    <% form_for(@game) do |f| %>
    <%= f.error_messages %>
    
    <%= f.label :title %><br />
    <%= f.text_field :title %><br />
    <br/>
    
    <%= f.label :description %><br />
    <%= f.text_area :description %><br />
    <br/>
    
    <%= f.label :ranked_value %><br />
    <%= f.text_field :ranked_value %><br />
    <br/>
    
    <%= f.label :platform %><br />
    <%= f.text_field :platform %><br />
    <br/>
    
    
    <h3><span class="highlight"> Thumbnail </span></h3>
    
    <% content_for :head do %>
        <style type="text/css">
            .thumb {
                margin: 3px;
            }
            .thumb:hover {
                margin: 0;
                border: 3px solid blue;
                cursor: pointer;
            }
            .thumb.default {
                margin: 0;
                border: 3px solid red;
            }
            .thumb.default:hover {
                cursor: default;
            }
        </style>
    <% end %>
    
    <div class="span-7">
        <%= f.label "Default Thumbnail:" %><br/>
        <%= image_tag @game.thumbnail.s3_path %>
    </div>
    
    <div class="span-8 last">
        <%= f.label "Options:" %><br/>
        <% @thumbnails.each do | thumb | %>
            <% if thumb == @game.thumbnail %>
                <%= image_tag thumb.s3_path, :width => 128, :height => 112, :class=>"thumb default" %>
            <% else %>
                <%= image_tag thumb.s3_path, :width => 128, :height => 112, :class=>"thumb" %>
            <% end %>
        <% end %>
    </div>
    
    <div >
    
    <hr class="space" />
    <hr />
    
    <%= f.submit 'Update' %>

    <% end %>

</div>