
<h2>
    <%= @game.title %>
    <% if not current_user.nil? and current_user == @game.user %>
        <%= link_to '(Edit)', edit_game_path( :id=>@game.id ), {:class=>"title_link"} %>
    <% end %>
</h2>



<% content_for :head do %>
    <script src="http://localhost/swfobject/swfobject.js" type="text/javascript"></script>
<% end %>

<div class="span-24">
    <div style="width: 512px; height: 448px; float: left;" id="emulator_container">
        <div id="emulator"></div>
    </div>
    <script type="text/javascript">

        var file = "all/" + escape("<%= @game.original_filename %>");
        
        <% if true %>
            // For Debug Builds
            swfobject.embedSWF("http://localhost/snes/Snes.swf?rom=" + file, "emulator", "512", "448", "10.0.0");
        <% else %>
            // TODO: Retarget the Rails version
            swfobject.embedSWF("http://localhost/snes/Snes.swf?rom=" + file, "emulator", "512", "448", "10.0.0");
        <% end %>
    
    </script>


    <%= image_tag("http://localhost/snes/key.png", :style=>"float: left; width: 400px; height: 339px;") %>
</div>

<div class="span-24">&nbsp;</div>


<h3> <span class="highlight"> Screenshots </span></h3>

<% for thumb in @thumbnails %>
    <%= image_tag thumb.s3_path, :width => 128, :height => 112 %>
<% end %>

<% if reference_local=false %>
    <% (0...20).each do |i| %>
        <% if i < 10 %>
            <img height="112" width="128" src="http://localhost/test_rom_screenshots/snes/<%= @game.original_filename %>/<%= @game.original_filename %>_0000<%= i.to_s %>.png">
        <% else %>
            <img height="112" width="128" src="http://localhost/test_rom_screenshots/snes/<%= @game.original_filename %>/<%= @game.original_filename %>_000<%= i.to_s %>.png">
        <% end %>
    <% end %>
<% end %>

<p>
    <b>Original filename</b> <%= @game.original_filename %>
</p>
<p>
    <b>Title</b> <%= @game.title %>
</p>
<p>
    <b>Upload Complete?</b> <%= if not @game.storage_object_id; "No"; else; "Yes"; end %>
</p>

<%= link_to 'Back', list_path %>