<h2> Explore </h2>


<div class="span-15 append-1">
    <h3> <span class="highlight"> Games </span></h3>
    
    <% @games.each_with_index do | game, index| %>
        <%= render :partial => 'games/five_column_tile', :locals => { :game => game, :last => ((index + 1) % 3 == 0) } %>
    <% end %>
</div>



<div class="span-6 last">
    <h3> <span class="highlight"> Users </span></h3>
    
    <ul>
        <% @users.each do |user| %>
            <li><h5 style="margin-bottom: 3px;">
                <b><%= user.display_name || "user #{user.id}" %></b> (<%= link_to user.display_name || "profile", user %>)
            </h5>
        
            Created <%= time_ago_in_words user.created_at %> ago<br />
            <%= user.games.count %> Games<br/>
        
            <hr style="margin-top: 3px;"/></li>
        <% end %>
    </ul>
</div>