<h2> List All </h2>

<h3> Games </h3>

<ul>
<% @games.each do |game| %>
    <% if not game.title.nil? and not game.title.empty? %>
        <li><%= link_to game.title, game %></li>
    <% else %>
        <li><%= link_to game.original_filename, game %></li>
    <% end %>
<% end %>
</ul>


<h3> Users </h3>

<ul>
<% @users.each do |user| %>
    <% if not user.name.nil? and not user.name.empty? %>
        <li><b><%= user.name %></b>, (<%= link_to user.login, user %>)</li>
    <% else %>
        <li><b><%= user.login %></b>, (<%= link_to "view profile", user %>)</li>
    <% end %>
<% end %>
</ul>